.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.LinkColor {
  color: #ffffff;
}

h1 {
  margin-bottom: 50px;
  margin-top: 50px;
  /* Muss man bei indexhtml downloaden */
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 30%;
  color: black !important;
}

* {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.homepage .login{
  background-color: #214ddb;
  height: 100vh;
}

@media screen and (min-width:800px) {
  .login {
    background-color: #214ddb;
  }
  .Register {
    background-color: #214ddb;
  }
}

@media screen and (max-width:600px) {
  .Submit button, .Wrapper button {
    border-color: #FF8C1D;
  }
  button {
    background-color: #FF8C1D !important;
  }
}

button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  align-self: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  left: 410px;
  top: -61px;
  font-weight: bold;

}

.AddChild button {
  background-color: dodgerblue !important;
}

button:hover {
  background-color: #ff9225 !important;
  border: 2px solid #ff9225;
  transition: 0.2s;
}

.Wrapper {
  /* Float both forms to the left */
  justify-content: center;
  /* borders added for visibility. Just remove them */
}

p {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}