.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.LinkColor {
  color: #ffffff;
}

h1{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  /* Muss man bei indexhtml downloaden */
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  line-height: 30%;
  color: black !important;
}

* {
  text-align:center;
  margin-bottom: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.homepage {
  background-color: #214ddb;
  height: 120vh;
}

button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  align-self: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  left: 410px;
  top: -61px;
}

button:hover {
  background-color: #ff9225;
}

.Wrapper {
  /* Float both forms to the left */
justify-content: center;
/* borders added for visibility. Just remove them */
 }

p{
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* unsicher wegen KlassenNamen, nochmal prüfen */
.Calendar,
.ReportsPage,
.LandingPage,
.Settings {
  display: flex;
  /* height: 90vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
