/* Handy Ansicht*/

/* Ab hier Settings Inhalt */
.TextBox {
    text-align: left;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    width: 93%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.kind {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* SprachOption select für Sprachbutton */
.TextBox input,
.SprachOption select {
    background-color: #ecf9ff;
    text-align: left;
    float: right;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}


input:focus {
    background-color: white;
}

/* Text LEFT */
.TextBox .Box,
.SprachOption {
    text-align: left;
    padding-bottom: 15px;
}

/* Text RIGHT */
.Box input,
.SprachOption select {
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    border: none;
    height: 22px;
}

/* Box1 und Box2 */
.Box1 {
    justify-content: space-evenly;
}

.Box2 {
    justify-content: space-evenly;
}




/* Buttons */

.Wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.AddChild {
    float: left;
}

.SettingsAddChild .settings-container {
    height: fit-content;
    padding-bottom: 100px;
}

.SettingsAddChild button {
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #FF8C1D;
}

.SettingsAddChild h2 {
    text-align: center;
    margin-bottom: 30px;
}


.AddChild button {
    background-color: white !important;
    color: black;
    border: 3px solid #ADCCED;
    font-size: 15px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.AddChild button:hover {
  background-color: #ADCCED !important;
  transition: 0.2s;
}


/* Halb Laptop Ansicht */

@media (min-width: 800px) {
    .TextBox {
        column-count: 2;

        column-gap: 100px;
        column-width: 150px;

        display: block;
        padding: 30px;

        border-radius: 20px;
        font-size: 15px;

        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .TextBox input,
    .SprachOption select {
        margin: 2px;
        text-align: left;
        width: 150px;
    }

    .SettingsAddChild button {
        margin-top: 0px;
        margin-bottom: 20px;
        background-color: dodgerblue;
    }

}