/* Grundlegende Gestaltung für den Footer */ 
.site-footer {
  font-size: 1rem; 
  background-color: rgb(38, 89, 241);
  color: white; 
  text-align: right; 
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

/* Die Navigation im Fußbereich */   
.footer-nav ul {
  display: flex;
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.footer-nav li {
  margin-right: 1rem;
  padding-right: 1rem;
}

.site-footer a {
  color: var(--color-base-light, white); 
  text-decoration: none; 
}

.site-footer a:hover, 
.site-footer a:focus {
  text-decoration: underline; 
}