/* ===========================
   FOOTER
   =========================== */

.site-footer {
  font-size: 0.85rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: right;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.footer-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-right: 1rem;
  padding-right: 1rem;
}

.site-footer a {
  color: var(--color-white);
  text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus {
  text-decoration: underline;
}