.TitleBar.css {
    text-align: center;
  }
  
.educare-logo{
    width: 150px;
}

header {
  background-color: rgb(38, 89, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color: white;
}