.landingpage-image {
  width: 350px;
}

.Calendar, .Reports{
  float: left;
  display: block;
}
.Wrapper {
  /* Float both forms to the left */
justify-content: center;  
/* borders added for visibility. Just remove them */
 }